body {
    background-color: #FFFAD0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-size: 100%;
}

#logorotate {
    width: 150px; 
    animation: flipHorizontal 5s ease-in-out infinite; 
}

@keyframes flipHorizontal {
    0% {
        transform: scaleX(1); 
    }
    50% {
        transform: scaleX(-1); 
    }
    100% {
        transform: scaleX(1); 
    }
}

a {
    text-decoration: solid;
    background-color: #d57279;
    color: black;
    border-radius: 20px;
    font-size: 1.5em;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 1s ease;
}

a:hover {
    background: #ff9da4;
}

hr {
    color: #ff8991;
    padding-bottom: 5px;
    background-color: #C55F66;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    color:#FFFAD0 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

h1 {
    text-align: center;
    color: #C55F66;
    font-size: 3.5em;
}

#logotekst {
    height: 30vw;
    width: 55vw;
}

h2 {
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    width: 600px;
}

h3{
    background-color: #C5886F;
    font-size: 2.5em;
    border-radius: 10px;
    color: #000000;
}

.box{
    text-align: center; 
    border-radius: 15px;
    border: 35px solid #97B491;
    background-color: #ffffff;
    width: 50vw;
    height: 10vw;
    position: relative;
}

.idee {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: #333; 
    font-size: 1.2em;
}

.max {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: rgb(189, 189, 189);
}

button {
    position: absolute; 
    bottom: 10px;
    right: 10px; 
    color: #000000; 
    background-color: #97B491;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1.2em;
    width: 150px;
    height: 50px;
}




h5{
    position: relative;
    right: 390px;
    margin: 0;
    font-size: 1.5em;
    color: #000000;

}

.persooncard{ 
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #d39292;
    border-radius: 30px;
    max-width: 1000px;
    margin-top: 20px;
}

 section img{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    
}

.persoon-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    color: #000000;
    margin: 8px 0;
}



h6{ 
    margin: 0;
    font-size: 1.5em;
    color: #000000;
}

em{
    font-weight: bold;
}

strong{
    color: #000000;
}

.aflevering{ 
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 70vw;
    height: 250px;
    margin: auto;
    position: relative; 
    background-color: #97B491;
}

.aflevering img{
    padding-left: 20px;
    padding-right: 20px;
    width: 230px;
    height: 230px;
    border-radius: 40px;
}

.aflevering-description{
    font-size: 1.2rem;
    color: #000000;
}

.klok{
    position: absolute;
    top: 20px ;
    right: 10px;
    width: 100px; 
    height: auto; 
}

.klok img{ 
    width: 40px;
    height: 40px;
}

.aflevering .playbutton{
    width: 3.5em;
    height: 3.5em;
    position: absolute;
    bottom: 1em;
    right: 2em;
}




footer{
    background-color:#6F4D4D;
    margin-top: 100px;
 
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer ul{
    list-style: none;
    color: #ffffff;
    font-size: 2em;
}

footer h4{
    font-size: 1em;
}

footer p{
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    margin:0;
}

#logofooter{
    width: 350px;
    height: 300px;
}

#socialimg{
    width: 400px;
}

